<!DOCTYPE html>
<html>
  <head>
    <title>PortalBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">PortalBase</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Home", landing_index_path %></li>
            <li>
              <% if current_user.present? %>
                <%= link_to 'Sign Out', logout_path, method: :delete, id: 'sign-out' %>
              <% else %>
                <%= link_to "Log In w/Google", user_google_oauth2_omniauth_authorize_path %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <% flash.each do |message_type, message| %>
          <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
      <% end %>
      <section id="yield">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
